body{
    color: white;
    background: pink;
    margin: 0px;
}

header{
    border-bottom: solid 2px rgba(219, 54, 145, 0.639); 
padding: 20px;
font-size: 40px;
color: rgb(255, 0, 170);
}